BONUS WAVE "Sons\\Bonus.wav"
BONUS2 WAVE "Sons\\Bonus2.wav"
CERISES WAVE "Sons\\Cerises.wav"
CODE WAVE "Sons\\Code.wav"
EXPLOSE WAVE "Sons\\Explose.wav"
GELER WAVE "Sons\\geler.wav"
TUER_TRICHE WAVE "Sons\\Gloutoman.wav"
HURT WAVE "Sons\\Hurt.WAV"
TUER WAVE "Sons\\Pacman.wav"
PASSAGE WAVE "Sons\\Passage.wav"
POP WAVE "Sons\\Pop.wav"
PORTE WAVE "Sons\\Porte.wav"
REINCARN WAVE "Sons\\Reincarn.wav"
TELEP WAVE "Sons\\telep.wav"
TUT WAVE "Sons\\Tut.wav"
WIP WAVE "Sons\\Wip.wav"
NIVEAU1 TEXT "Niveaux\\Level1.gty"
NIVEAU2 TEXT "Niveaux\\Level2.gty"
NIVEAU3 TEXT "Niveaux\\Level3.gty"
NIVEAU4 TEXT "Niveaux\\Level4.gty"
NIVEAU5 TEXT "Niveaux\\Level5.gty"
NIVEAU6 TEXT "Niveaux\\Level6.gty"
NIVEAU7 TEXT "Niveaux\\Level7.gty"
NIVEAU8 TEXT "Niveaux\\Level8.gty"
NIVEAU9 TEXT "Niveaux\\Level9.gty"
NIVEAU10 TEXT "Niveaux\\Level10.gty"
GAGNE WAVE "Sons\\Jingle_Achievement.wav"
PERDU WAVE "Sons\\Jingle_Lose.wav"
PIECE WAVE "Sons\\Piece.wav"
NIVEAU11 TEXT "Niveaux\\Level11.gty"
NIVEAU12 TEXT "Niveaux\\Level12.gty"
NIVEAU13 TEXT "Niveaux\\Level13.gty"
NIVEAU14 TEXT "Niveaux\\Level14.gty"
NIVEAU20 TEXT "Niveaux\\Level20.gty"
NIVEAU15 TEXT "Niveaux\\Level15.gty"
NIVEAU16 TEXT "Niveaux\\Level16.gty"
NIVEAU19 TEXT "Niveaux\\Level19.gty"
NIVEAU17 TEXT "Niveaux\\Level17.gty"
NIVEAU18 TEXT "Niveaux\\Level18.gty"
